.back-green {
  background-color: #2ECC71;
  margin-top: -2%;
  padding: 5%; }

.back-gray {
  background-color: #f2f2f2;
  margin-top: -2%;
  padding: 5%; }

.back-red {
  background-color: #E74C3C;
  padding: 5%;
  color: white;
  margin-top: -2%; }

.back-section {
  background-color: #34495E;
  color: white; }

.back-footer {
  background-color: #2C3E50;
  color: white;
  margin-top: -2%; }

.indicator-item {
  display: none; }

.iconos {
  font-size: 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.67);
  border-radius: 50%;
  padding: 6%;
  width: 10%; }

.nav {
  background-color: #34495E; }

#textarea {
  padding: 10%; }

.icon-serv {
  font-size: 1.5em;
  border: 1px solid gray;
  background-color: gray;
  border-radius: 150%;
  color: white;
  padding: .3em; }

.li-nav {
  display: inline-block;
  margin-left: 10%; }

.redes {
  display: inline-block; }

.li-foot {
  display: inline-block;
  margin-left: 2em; }

.blog {
  display: inline-block; }

#Facebook {
  font-size: 2em;
  border-radius: 2em; }

#face {
  background-color: #4F7DD4;
  padding: 25%;
  border: 1px solid #4F7DD4;
  border-radius: 50%;
  color: white;
  margin-left: 1em; }

#twi {
  background-color: #5BCEFF;
  padding: 20%;
  border: 1px solid #5BCEFF;
  border-radius: 50%;
  color: white;
  margin-left: 1em; }

#g-plus {
  background-color: #DC422B;
  padding: 20%;
  border: 1px solid #DC422B;
  border-radius: 50%;
  color: white;
  margin-left: 1em; }

#link {
  background-color: #21A6D8;
  padding: 20%;
  border: 1px solid #21A6D8;
  border-radius: 50%;
  color: white;
  margin-left: 1em; }

.paraf {
  margin-left: 20%; }

.text {
  height: 100%; }
