doctype html
html
	head
		title Home  |  Flat Theme
		meta(charset="utf-8")
		link(rel="stylesheet", href="materialize/css/materialize.min.css")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/animate.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="css/utilities.css")
		link(rel="shortcut icon", href="images/ico/favicon.ico")
		

	body
		nav
			.nav-wrapper.blue-grey.darken-2
				img.responsive-img(src="images/logo.png", alt="logo de flat theme")
				a(href="#" data-activates="mobile-demo").button-collapse
					i.material-icons menu
				ul.right.hide-on-med-and-down
					li
						a(href="index.html") Home
					li
						a(href="about-us.html") About Us
					li
						a(href="services.html") Services
					li
						a(href="portfolio.html") Portfolio
					li
						a(href="blog.html") Blog
					li
						a(href="contact-us.html") Contact
				ul.side-nav#mobile-demo
					li
						a(href="index.html") Home
					li
						a(href="about-us.html") About Us
					li
						a(href="services.html") Services
					li
						a(href="portfolio.html") Portfolio
					li
						a(href="blog.html") Blog
					li
						a(href="contact-us.html") Contact
		section
			.row.back-green.text-white
				.col.s6.m6.l6
					h2 About Us
					p Pellentesque habitant morbi trsitique senectus et nectus et malesuada
				.col.s6.m6.l6
					ul
						li.li-nav Home
						li.li-nav About Us
		section
			.row.back-gray
				.col.s12.m6.l6
					h3 What we are
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam sint ut itaque quas quo aliquid, rerum beatae sapiente deleniti accusamus ab sunt quisquam magnam voluptatem? Ipsa vel dignissimos rerum, natus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam sint ut itaque quas quo aliquid, rerum beatae sapiente deleniti accusamus ab sunt quisquam magnam voluptatem? Ipsa vel dignissimos rerum, natus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam sint ut itaque quas quo aliquid, rerum beatae sapiente deleniti accusamus ab sunt quisquam magnam voluptatem? Ipsa vel digOur Skillsnissimos rerum, natus.
				.col.s12.m6.l6
					h3 Our Skills
					#html.red.white-text.text.center HMTL/CSS
					#word.green.white-text.text-center WordPress
					#joom.blue.darken-3.white-text.text-center Joomla
					#drupal.blue.white-text.text-center Drupal
					#php.orange.white-text.text-center PHP
		section
			.row.back-gray
				h3.text-center Meet the Team
				p.text-center Pellentesque habitant morbi trsitique senectus et nectus et malesuada fames ac turpis egestas
				.col.s6.m3.l3
					img.responsive-img.circle(src="images/team-member.jpg", alt="")
					h5 Davis J. Robbinson
					small Senior Vice President
					p Morbi accussam ipsum velit. Nam nec tellus a odio tincidut auctor
					ul
						li.redes
							i#face.icon-facebook
						li.redes
							i#twi.icon-twitter
						li.redes
							i#g-plus.icon-google-plus
						li.redes
							i#link.icon-linkedin
				.col.s6.m3.l3
					img.responsive-img.circle(src="images/team-member.jpg", alt="")
					h5 Davis J. Robbinson
					small Senior Vice President
					p Morbi accussam ipsum velit. Nam nec tellus a odio tincidut auctor
					ul
						li.redes
							i#face.icon-facebook
						li.redes
							i#twi.icon-twitter
						li.redes
							i#g-plus.icon-google-plus
						li.redes
							i#link.icon-linkedin
				.col.s6.m3.l3
					img.responsive-img.circle(src="images/team-member.jpg", alt="")
					h5 Davis J. Robbinson
					small Senior Vice President
					p Morbi accussam ipsum velit. Nam nec tellus a odio tincidut auctor
					ul
						li.redes
							i#face.icon-facebook
						li.redes
							i#twi.icon-twitter
						li.redes
							i#g-plus.icon-google-plus
						li.redes
							i#link.icon-linkedin
				.col.s6.m3.l3
					img.responsive-img.circle(src="images/team-member.jpg", alt="")
					h5 Davis J. Robbinson
					small Senior Vice President
					p Morbi accussam ipsum velit. Nam nec tellus a odio tincidut auctor
					ul
						li.redes
							i#face.icon-facebook
						li.redes
							i#twi.icon-twitter
						li.redes
							i#g-plus.icon-google-plus
						li.redes
							i#link.icon-linkedin
		section <!--esta es mi seccion repetida en todas las paginas-->
			.row.back-section
				.col.s12.m3.l3
					h6 About Us
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi libero dolores ut, voluptate fuga incidunt aliquid illum, veritatis non expedita nostrum sed nobis perspiciatis, magni consequuntur eaque suscipit facere vel?
				.col.s12.m3.l3
					h6 Company
					ul
						li >Company Ovierview
						li >Meet the team
						li >Our Awesome Partners
						li >Our Services
						li >Frenquently Asked Questions
						li >Contact Us
						li >Privacy Policy
						li >Term of Use
						li >Copyright
				.col.s12.m3.l3
					.row
						h6 Latest Blog
						.col.s4.m4.l4
							img.responsive-img(src="images/blog/thumb1.jpg", alt="")
						.col.s8.m8.l8
							small Pellentesque habitant morbi trsitique senectus.
								br
								small Posted 17 Aug 2013
					.row
						h6 Latest Blog
						.col.s4.m4.l4
							img.responsive-img(src="images/blog/thumb2.jpg", alt="")
						.col.s8.m8.l8
							small Pellentesque habitant morbi trsitique senectus.
								br
								small Posted 17 Aug 2013
					.row
						h6 Latest Blog
						.col.s4.m4.l4
							img.responsive-img(src="images/blog/thumb2.jpg", alt="")
						.col.s8.m8.l8
							small Pellentesque habitant morbi trsitique senectus.
								br
								small Posted 17 Aug 2013
				.col.s12.m3.l3
					h6 Address
					small Twitter, Inc
						br
					small 795 Folsom Ave, Suite 600
						br
					small San Francisco, CA 94107
						br
					small (123) 456 789)
					h6 Newsletter
					form
						input(type="email" placeholder="Enter you Email")
						button.btn Go!
		footer
			.row.back-footer
				.col.s6.m6.l6
					p &#169 2013 ShapeBootstrap. All rights Reserved.
				.col.s6.m6.l6
					ul
						li.li-foot Home
						li.li-foot About Us
						li.li-foot Contact Us
						li.li-foot 
							i.material-icons keyboard_arrow_up
		
		//- javascript

		script(src="js/jquery.js")
		script(src="js/materialize.min.js")
		script(src="js/main.js")
