doctype html
html
	head
		title Home  |  Flat Theme
		meta(charset="utf-8")
		link(rel="stylesheet", href="materialize/css/materialize.min.css")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="css/animate.css")
		link(rel="stylesheet", href="css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet", href="css/utilities.css")
		link(rel="shortcut icon", href="images/ico/favicon.ico")
	body
		nav
			.nav-wrapper.blue-grey.darken-2
				img.responsive-img( src="images/logo.png", alt="logo de flat theme")
				a(href="#" data-activates="mobile-demo").button-collapse
					i.material-icons menu
				ul.right.hide-on-med-and-down
					li
						a(href="index.html") Home
					li
						a(href="about-us.html") About Us
					li
						a(href="services.html") Services
					li
						a(href="portfolio.html") Portfolio
					li
						a(href="blog.html") Blog
					li
						a(href="contact-us.html") Contact
				ul.side-nav#mobile-demo
					li
						a(href="index.html") Home
					li
						a(href="about-us.html") About Us
					li
						a(href="services.html") Services
					li
						a(href="portfolio.html") Portfolio
					li
						a(href="blog.html") Blog
					li
						a(href="contact-us.html") Contact
		section <!--aqui va mi slider-->
			.slider
				ul.slides
					li
						img.responsive-img(src="images/slider/bg1.jpg", alt="")
						.caption.center-align
						h3.mg-0 Powerful and Responsive Web Design
						p Pellentesque habitant morbi trsitique senectus et nectus et malesuada fames ac turpis egestas
					li
						img.responsive-img(src="images/slider/bg2.jpg", alt="")
						.caption.left-align
						h3.mg-0 Powerful and Responsive Web Design
						p Pellentesque habitant morbi trsitique senectus et nectus et malesuada fames ac turpis egestas
					li
						img.responsive-img(src="images/slider/bg3.jpg", alt="")
						.caption.rigth-align
						h3.mg-0 Powerful and Responsive Web Design
						p Pellentesque habitant morbi trsitique senectus et nectus et malesuada fames ac turpis egestas
		section <!--aqui van mis iconos con texto-->
			.row.back-green.responsive-img
				.col.s12.m4.l4
					.row.white-text
						.col.s2
							i.icon-twitter.iconos
						.col.s10
							span Twitter Marketing
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem asperiores inventore cupiditate eius, facere doloremque nobis tempora fugiat aut.
				.col.s12.m4.l4
					.row.white-text
						.col.s2
							i.icon-facebook.iconos
						.col.s10
							span Facebook Marketing
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem asperiores inventore cupiditate eius, facere doloremque nobis tempora fugiat aut.
				.col.s12.m4.l4
					.row.white-text
						.col.s2
							i.icon-google-plus.iconos
						.col.s10
							span Google Plus Marketing
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem asperiores inventore cupiditate eius, facere doloremque nobis tempora fugiat aut.
		section <!--aqui van mis imagenes de col m3 l3-->
			.row.back-gray
				.col.s12.m3.l3
					h4 Our Lastest Project
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab harum, nisi amet ducimus ratione voluptate modi sequi! Ipsum, expedita voluptas ullam qui cupiditate dolor, quidem quasi ad, voluptatem ipsam sed.
				.col.s4.m3.l3
					img.responsive-img(src="images/portfolio/recent/item1.png", alt="")
				.col.s4.m3.l3
					img.responsive-img(src="images/portfolio/recent/item2.png", alt="")
				.col.s4.m3.l3
					img.responsive-img(src="images/portfolio/recent/item3.png", alt="")
		section.back-red 
			.row
				h4.text-center What our clients says
				p.text-center Pellentesque habitant morbi trsitique senectus et nectus et malesuada fames ac turpis egestas
				.col.s12.m6.l6
					blockquote
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam non nesciunt vel nisi dolore architecto ducimus, perspiciati.

						small
							footer Some famous is Source Tile
				.col.s12.m6.l6
					blockquote
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam non nesciunt vel nisi dolore architecto ducimus, perspiciati.

						small
							footer Some famous is Source Tile
			.row
				.col.s12.m6.l6
					blockquote
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam non nesciunt vel nisi dolore architecto ducimus, perspiciati.

						small
							footer Some famous is Source Tile
				.col.s12.m6.l6
					blockquote
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam non nesciunt vel nisi dolore architecto ducimus, perspiciati.

						small
							footer Some famous is Source Tile
		section <!--esta es mi seccion repetida en todas las paginas-->
			.row.back-section
				.col.s12.m3.l3
					h6 About Us
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi libero dolores ut, voluptate fuga incidunt aliquid illum, veritatis non expedita nostrum sed nobis perspiciatis, magni consequuntur eaque suscipit facere vel?
				.col.s12.m3.l3
					h6 Company
					ul
						li >Company Ovierview
						li >Meet the team
						li >Our Awesome Partners
						li >Our Services
						li >Frenquently Asked Questions
						li >Contact Us
						li >Privacy Policy
						li >Term of Use
						li >Copyright
				.col.s12.m3.l3
					.row
						h6 Latest Blog
						.col.s4.m4.l4
							img.responsive-img(src="images/blog/thumb1.jpg", alt="")
						.col.s8.m8.l8
							small Pellentesque habitant morbi trsitique senectus.
								br
								small Posted 17 Aug 2013
					.row
						h6 Latest Blog
						.col.s4.m4.l4
							img.responsive-img(src="images/blog/thumb2.jpg", alt="")
						.col.s8.m8.l8
							small Pellentesque habitant morbi trsitique senectus.
								br
								small Posted 17 Aug 2013
					.row
						h6 Latest Blog
						.col.s4.m4.l4
							img.responsive-img(src="images/blog/thumb2.jpg", alt="")
						.col.s8.m8.l8
							small Pellentesque habitant morbi trsitique senectus.
								br
								small Posted 17 Aug 2013
				.col.s12.m3.l3
					h6 Address
					small Twitter, Inc
						br
					small 795 Folsom Ave, Suite 600
						br
					small San Francisco, CA 94107
						br
					small (123) 456 789)
					h6 Newsletter
					form
						input(type="text" placeholder="Enter you email")
						button.btn Go!
		footer
			.row.back-footer
				.col.s6.m6.l6
					p &#169 2013 ShapeBootstrap. All rights Reserved.
				.col.s6.m6.l6
					ul
						li.li-foot Home
						li.li-foot About Us
						li.li-foot Contact Us
						li.li-foot 
							i.material-icons keyboard_arrow_up




		//- javascript

		script(src="js/jquery.js")
		script(src="js/materialize.min.js")
		script(src="js/main.js")








	



